<!-- GUEST -->
<div class="col-md-5" id="rooomcontent">
	<td>
	    <table><tr><td>
	    	<input type="text" name="search" placeholder="GUESTS: ">
	    </td><td id="widtd">
	    </td><td>
	    	<%= button_to "ADD", root_path, :id => "add-edit-btn", :method => :get %>
	    </td><td>
	    &nbsp; &nbsp; &nbsp; &nbsp;
	    </td><td>
	    	<%= button_to "EDIT", root_path, :id => "add-edit-btn", :method => :get %>
	    </td></td></table>
	</td>


	<br>
	<br>
		<table class="table table-striped table-inverse StandardTable" id="table-status">
		  <thead>
		    <tr>
		      <th>GUEST #</th>
		      <th>ROOM NO.</th>
		      <th>CHECK-IN</th>
		      <th>CHECK-OUT</th>
		      <th>STATUS OF PAYMENT</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr> &nbsp; </tr>
		    <tr id="trs">
		      <td id="guestname">LOLITA ENRIQUEZ</td>
		      <td>1001</td>
		      <td>12:00 01/01/01</td>
		      <td>12:00 01/01/01</td>
		      <td>UNPAID</td>
		    </tr>
		    <tr id="trs">
		      <td id="guestname">LOLITA ENRIQUEZ</td>
		      <td>1001</td>
		      <td>12:00 01/01/01</td>
		      <td>12:00 01/01/01</td>
		      <td>UNPAID</td>
		    </tr>
		    <tr id="trs">
		      <td id="guestname">LOLITA ENRIQUEZ</td>
		      <td>1001</td>
		      <td>12:00 01/01/01</td>
		      <td>12:00 01/01/01</td>
		      <td>UNPAID</td>
		    </tr>
		    <tr id="trs">
		      <td id="room">&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr id="trs">
		      <td id="room">&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr id="trs">
		      <td id="room">&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr id="trs">
		      <td id="room">&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		  </tbody>
		</table>
</div>
