$navbar-default-bg: #ee2f40;

@import "bootstrap-sprockets";
@import "bootstrap";

#header{
    color: #FFFFFF;
    background-color: #a51117;
}

.navbar-header {
	margin: auto;
	height: 70px;
}

#head {
	font-size: 2.0em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 10px 0px;
	font-family: 'Gotham Book';
}

#field, #field-control {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 10px;
	font-family: 'Gotham Book';
	background-color: Transparent;
    border: none;
    width: 100px;
    height: 30px;
}

#field:hover {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 20px 10px;
	font-family: 'Gotham Book';
	background-color: #a51117;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 7px;
    width: 100px;
}

#field-control {
    width: 150px;
}

#field-control:hover {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 20px 10px;
	font-family: 'Gotham Book';
	background-color: #a51117;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 7px;
    width: 150px;
}

.col-md-1 {
	width: 130px;
}

#box {
	border-radius: 15px;
    background-color: #a6a6a6;
    width: 280px;
    height: 150px;
    padding: 0px;
    margin: 20px 10px;
}

#sidebar {
    height: 600px;
    background-color: #d7d7d7;
}

#content {
    background-color: none;
    margin-left: 20px 20px;
    width: 950px;
    padding-left: 50px;
}

th {
    color: white;
    text-align: center;
}

td {
    color: black;
    text-align: center;

}

input{
	font-family: 'Gotham Book';
    text-align: left;
    color: black;
    width: 300px;
    font-size: 1em;
    font-weight: bold;
}

input:focus {
	font-family: 'Gotham Book';
    text-align: left;
    border-color: #ee2f40;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    font-weight: bold;
}