$navbar-default-bg: #ee2f40;

@import "bootstrap-sprockets";
@import "bootstrap";

#header{
    color: #FFFFFF;
    background-color: #a51117;
    margin: 0px 0px;
}

.navbar-header {
	margin: auto;
	height: 70px;
}

#head {
	font-size: 2.0em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 10px 0px;
	font-family: 'Gotham Book';
}

#field, #field-control, #field-booking {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 20px;
	font-family: 'Gotham Book';
	background-color: Transparent;
    border: none;
    width: 100px;
    height: 30px;
}

#field-logout {
    font-size: 1.3em;
    color: #a51117;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px 20px;
    font-family: 'Gotham Book';
    background-color: #ebebeb;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 7px;
}

#field:hover {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 20px 10px;
	font-family: 'Gotham Book';
	background-color: #a51117;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 7px;
    width: 100px;
}

#field-control {
    width: 150px;
    margin: 20px 5px;
}

#field-booking {
    width: 150px;
    margin-left: 40px;
}

#field-control:hover {
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 20px 10px;
	font-family: 'Gotham Book';
	background-color: #a51117;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 7px;
    width: 150px;
}

#field-booking:hover {
    font-size: 1.3em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Gotham Book';
    background-color: #a51117;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 7px;
    width: 150px;
}

.col-md-1 {
	width: 130px;
}

#ldash {
    background-color: #ebebeb;
    height: 40px;
    width: 350px;
    color: red;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    font-family: 'Gotham Book';
    font-size: 1.5em;
    line-height: 40px;
    letter-spacing: 1px;
}


.sidebar {
    height: 600px;
    background-color: #d7d7d7;
    padding: 0px 0px;
}

#rooomcontent {
    background-color: none;
    margin-left: 20px 20px;
    width: 950px;
    padding-left: 50px;
}

th {
    color: white;
    text-align: center;
}

td {
    color: black;
    text-align: center;

}

input{
	font-family: 'Gotham Book';
    text-align: left;
    color: black;
    width: 300px;
    font-size: 1.1em;
    font-weight: bold;
}

input:focus {
	font-family: 'Gotham Book';
    text-align: left;
    font-size: 1.1em;
    border-color: #ee2f40;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    font-weight: bold;
}

#trs:nth-of-type(odd) {
  background-color: #d7d7d7;
  color: white;
  font-family: 'Gotham Book';
}

#trs:nth-of-type(even) {
    background-color: white;
    color: black;
    font-family: 'Gotham Book';
}

table#room {
    border-collapse:separate; 
    border-spacing:1em;
    font-family: 'Gotham Book';
}

.search-add-edit {
    display:inline-block;
}

#add-edit-btn {
    display:block;
    width: 130px;
    text-align: center;
    background-color: #ee2f40;
    font-family: 'Gotham Book';
    font-size: 1.3em;
    color: white;
    border-radius: 7px;
    border-color: #ee2f40;
    border-style: none;
    height: 30px;
}

#widtd {
    width: 350px;
}

#guestname {
    text-decoration: underline;
    color: blue;
}

.col-md-3 {
    margin: -20px -0px;
}