<section class="col-md-3 sidebar">
	<div id="dash">
		<label id="ldash">DASHBOARD</label>
	</div>

	<ul class="nav nav-sidebar">
	    <li class="sidebar_overview">
	    	<%= link_to "CC10", "https://www.facebook.com/chiara.cruz.7", target: "_blank", rel: "alternate" %>
	    </li>
		</ul>

		<ul class="nav nav-sidebar">
      <li class="sidebar_company_info">
      	<%= link_to "Hayabusa", "http://www.mobilelegends.com/hero/detail-21", target: "_blank", rel: "alternate" %>
      </li>
	</ul>

</section>
